// TODO: add to SDS
table.Table th:first-child:not(:last-child),
table.Table td:first-child:not(:last-child) {
  z-index: 1;
}

.TableContainer {
  position: relative;
  overflow: auto;
  margin-top: 2rem;

  &--loading {
    opacity: var(--opacity-disabled-button);
    pointer-events: none;

    .Loader {
      --Loader-color: var(--pal-brand-primary);

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.SortableTable {
  th {
    .sortable {
      cursor: pointer;
      position: relative;
      display: inline-block;
      padding-right: 1.5rem;

      .SortableTable__sort {
        right: 0;
      }
    }

    &:last-child:not(:first-child) {
      .sortable {
        padding-right: 0;
        padding-left: 1.5rem;

        .SortableTable__sort {
          left: 0;
        }
      }
    }
  }

  &__sort {
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    svg {
      stroke: currentColor;
      width: 100%;
      height: 100%;
    }
  }
}
