.Avatar {
  --Avatar-size: 3rem;
  --Avatar-image-size: 70%;
  --Avatar-border-color: var(--pal-background-primary);
  --Avatar-background-color: var(--pal-background-secondary);

  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__item {
    width: var(--Avatar-size);
    height: var(--Avatar-size);
    border-radius: calc(var(--Avatar-size) / 2);
    background-color: var(--Avatar-background-color);
    border: 0.25rem solid var(--Avatar-border-color);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    %icon {
      width: var(--Avatar-image-size);
      height: var(--Avatar-image-size);
    }

    img {
      @extend %icon;
      display: block;
    }

    &__bullet {
      @extend %icon;
      background-color: var(--pal-brand-primary);
      border-radius: 2rem;
    }

    &:not(:first-child) {
      margin-left: -1.5rem;
    }
  }
}
