.FooterWithNote {
  margin-top: 2rem;

  &__note {
    text-align: center;
    font-size: 10px;
    color: var(--pal-text-tertiary);
    line-height: 1.0rem;
    max-width: 1200px;
    margin: 0 auto;
  }
}
