#root {
  // TODO: add to SDS color palette (same for dark and light theme)
  --pal-background-tooltip: #191b25;

  // TODO: add hide title prop in SDS
  .ProjectLogo__title {
    display: none;
  }
}

.NotFoundPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .Eyebrow {
    color: var(--pal-brand-primary);
  }
}
